.env
__pycache__/
*.pyc
collector/data/
collector/__pycache__/
venv/
.python-version
.ipynb_checkpoints/
*.parquet
tmp/
/tmp/collector
quality/
data/
*.tmp
logs/
quality_uploader/quality_uploader_state.json
quality_uploader/*.tmp
